<h1><%= t("orders_tracker.tracking_order", :order => @order.number) -%></h1>

<div id="order">

  <div class="order-status">
    <h4><%= t('orders_tracker.status') %></h4>
    <p class="status"><%= t(@order.state) %></p>
  </div>

  <% if @order.ship_address %>
  <div class='adr'>
    <h4><%= t("ship_address") %></h4>
    <%= render 'admin/shared/address', :address => @order.ship_address %>
  </div>
  <% end %>
  <hr />

  <%= render 'shared/order_details', :order => @order -%>

  <br/>
  <%= link_to t('orders_tracker.stop_tracking'), tracker_url, :method => :delete %>
  |
  <%= link_to t('back_to_store'), products_path %>
</div>

<% content_for :head do -%>
<%= stylesheet_link_tag 'orders_tracker' %>
<% end -%>
